.list {
  min-height: 500px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  padding: 8px 16px;
}

.row {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
  text-align: left;
  border-bottom: 1px solid #abbd81;
}

thead tr {
  font-weight: 900;
}
td {
  font-weight: 600;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}
td img {
  width: 20px;
  height: 20px;
}

tbody tr:nth-child(even) {
  background-color: #dfdfdf33;
}

.change-percent {
  display: flex;
  align-items: center;
  gap: 4px;
}
.no-content {
  opacity: 0.8;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .no-content {
    height: 200px;
  }

  .list {
    max-width: 400px;
  }
  .row {
    font-size: 12px;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr;
  }
  td img {
    width: 15px;
    height: 15px;
  }
}
